# Este arquivo lista todas as dependências do projeto Python.
# Cada linha representa um pacote a ser instalado pelo pip.

# Pandas: Uma biblioteca fundamental para análise e manipulação de dados em Python.
# Usada para trabalhar com estruturas de dados como DataFrames, ler arquivos (CSV, Excel, etc.)
# e realizar operações complexas de forma eficiente.
pandas

# PySpark: A API Python para o Apache Spark.
# Permite utilizar o poder do processamento distribuído para grandes volumes de dados (Big Data).
# Lembre-se que instalamos o Java no Dockerfile, que é um pré-requisito para o PySpark funcionar.
pyspark

# Psycopg2: O adaptador (ou "driver") de banco de dados mais popular para PostgreSQL em Python.
# É a "ponte" que permite que seu código Python se conecte, envie consultas (SELECT, INSERT, etc.)
# e receba dados do seu container de PostgreSQL. Sem ele, Python e Postgres não saberiam como conversar.
# A versão '-binary' é recomendada por já vir com dependências pré-compiladas, facilitando a instalação.
psycopg2-binary

# Minio: O SDK oficial do Python para interagir com o Minio e outros
# armazenamentos de objetos compatíveis com a API S3.
# Usado para fazer upload, download e gerenciar arquivos/objetos no container 'minio'.
minio